# Input arguments
geoserverUrl='http://www.geo.gob.bo/geoserver/'
outputPath='/tmp/'
user = None
pw = None
csvFilename = 'prioridad_test.csv'
firstLayerFilter = None
forceOverwrite = False
cacheTimeout = 7 * 24 * 60 * 60